* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", "sans-serif";
}

body {
  background: rgb(248, 241, 241);
}

.main-header {
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.web-view {
  display: none;
}

li {
  list-style: none;
  font-size: 13px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: rgb(36, 35, 35);
}

.btn-webview {
  background: rgb(223, 3, 3);
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: 700;
}

.name-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.content {
  width: 70%;
  margin: 30px 37px;
}

.pic-col img {
  width: 420px;
  border-radius: 50px;
}

.pic-col {
  position: relative;
}

.pic-col i.fas {
  color: rgb(238, 234, 234);
  position: absolute;
  bottom: 30px;
  right: -45px;
  font-size: 32px;
}

.content i.fa-heart-circle {
  color: black;
}

.song-name {
  font-family: "Montserrat", "sans-serif";
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
}

.artiste {
  font-family: "Montserrat", "sans-serif";
  color: rgb(146, 142, 142);
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}

.dets {
  margin-top: 10px;
  display: flex;
}

.dets h6:not(#genre) {
  margin-left: 10px;
}

.type {
  color: white;
  background: rgb(190, 11, 80);
  padding: 3px 5px;
  font-size: 10px;
  font-weight: 300;
}

.bpm,
.counter {
  color: rgb(31, 30, 30);
  background: rgba(231, 225, 225, 0.7);
  padding: 3px 5px;
  font-size: 10px;
  font-weight: 800;
}

.bttn {
  margin-top: 15px;
}

.bttn i.fa-shopping-cart {
  width: 30px;
  margin-left: -5px;
}

.primary-button {
  background: purple;
  color: white;
  padding: 6px 10px;
  font-size: 11px;
  outline: none;
  border: none;
  border-radius: 2px;
}

.bttn i.fa-share {
  width: 20px;
}

.secondary-button {
  background: rgb(87, 87, 202);
  color: white;
  padding: 6px 8px;
  font-size: 11px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-left: 2px;
}

/* ===================
Media Queries
======================*/

@media (min-width: 769px) {
  /*
  I mentioned that targeting elements this way is wrong!!!!!!!!!
  */

  header i.fas {
    display: none;
  }

  .name-web {
    position: absolute;
    top: 50%;
    left: 10%;
  }

  .web-view {
    display: block;
  }

  .main-web {
    display: flex;
  }

  .main-web li {
    margin-right: 25px;
    font-weight: 700;
  }

  .login {
    color: red;
  }

  .content {
    display: flex;
    margin-left: 20%;
  }

  .pic-col img {
    width: 130px;
    border-radius: 5px;
  }

  .pic-col {
    position: relative;
  }

  .pic-col i.fas {
    color: rgb(238, 234, 234);
    position: absolute;
    bottom: 10px;
    right: 6px;
    font-size: 15px;
  }

  .web-col {
    margin-left: 13px;
  }

  .song-name {
    margin-top: 0px;
    font-weight: bolder;
    font-size: 12px;
  }

  .artiste {
    color: rgb(146, 142, 142);
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
  }

  .type {
    color: white;
    background: rgb(190, 11, 80);
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 300;
  }

  .bpm,
  .counter {
    color: rgb(31, 30, 30);
    background: rgba(231, 225, 225, 0.7);
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 800;
  }

  .bttn i.fa-shopping-cart {
    width: 25px;
    margin-left: -5px;
  }

  .primary-button {
    background: purple;
    color: white;
    padding: 6px 10px;
    font-size: 8px;
    outline: none;
    border: none;
    border-radius: 2px;
  }

  .bttn i.fa-share {
    width: 20px;
    margin-left: -5px;
  }

  .secondary-button {
    background: rgb(87, 87, 202);
    color: white;
    padding: 6px 10px;
    font-size: 8px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-left: 2px;
  }
}
